body {
  background-color: lightpink;
}

nav {
  display: flex;
  justify-content: center;
    button {
      padding: 10px;
      background-color: white;
      opacity: .5;
      font-size: 18px;
    }
}