body {
  background: lightblue;
  min-width: 100vh;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
    button {
      padding: 10px;
      background-color: white;
      font-size: 18px;
    }
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    .magic-card {
      flex-grow: 1;
      margin: 10px;
    }
}

.light-blue-gradient {background: linear-gradient(38deg, rgba(193,226,255,1) 0%, rgb(183, 183, 255) 31%, rgba(0,212,255,1) 100%);}
.dark-blue-gradient {background: linear-gradient(38deg, rgb(77, 119, 155) 0%, rgb(45, 45, 97) 31%, rgb(41, 52, 54) 100%);}
.dark-red-gradient {background: linear-gradient(38deg, rgba(231,43,43,1) 0%, rgba(161,80,80,1) 31%, rgba(0,0,0,1) 84%);}



.scale-grid {
  display: grid;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
    .scale {
      display: grid;
      width: 100vw; 
      justify-content: center;
      height: 15vh;
      align-items: center;
      .coral-bg { background: coral};
      .scale-label {
        display: flex;
        justify-content: center;
      }
      .will-buttons {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: white;
        color: black;
        width: 80vw;
      }
    }
}

